<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RobotEditor.Properties.Settings>
            <setting name="OpenDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value />
            </setting>
        </RobotEditor.Properties.Settings>
    </userSettings>
</configuration>